@model ErrorViewModel
@{
    ViewData["Title"] = "No Encontrado";
}

<!-- ViewBag.Title = "Not Found";  -->
<h1>No Encontrado</h1>
<p>El elemento que busca no existe, no se encuentra o ha sido eliminado.</p>


