@using queue_management.Models
@model queue_management.Models.Role

@{
    ViewData["Title"] = "Crear Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Roles</h1>
<hr />
<h4>Nuevo Rol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Roles" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="RoleName" class="control-label" type="text"></label>
                <input asp-for="RoleName" class="form-control" placeholder="Ingresa la descripción del Rol" type="text" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!---------------  Botones summit y cancelar  ------------->
                <hr />
                <button type="submit" class="btn btn-primary"><i class="bi bi-check-square"></i> Aplicar</button>
                <a class="btn btn-secondary" asp-action="Index"><i class="bi bi-x-square"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
