@using queue_management.Models
@model queue_management.Models.Role

@{
    ViewData["Title"] = "Borrar Rol";
}

<h1>Borrar Rol</h1>
<h3>Id.: @Model.RoleId - @Model.RoleName </h3>
<h3>¿Estás seguro de que deseas borrar este Rol?</h3>
<hr />

    <form asp-controller="Roles" asp-action="Delete" method="post">

    <!-- Definir el id que se envía desde la vista al controlador -->
    <input type="hidden" asp-for="RoleId" value="@Model.RoleId" class="Roles" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!--- Para Nombre del Rol   -->
    <div class="mb-3 form-group">
        <label asp-for="RoleName" class="form-label"> @Html.DisplayNameFor(model => model.RoleName)</label>
        <input type="text" asp-for="RoleName" class="form-control" readonly />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <!---------------  Botones summit y cancelar  ------------->
        <hr />
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-check-square"></i> Borrar</button>
        <a class="btn btn-secondary" asp-action="Index">
            <i class="bi bi-x-square"></i> Cancelar</a>
    </div>
</form>

